---
layout: default
permalink: /a-propos/
title: À propos
key: 3
lang: fr
ref: a-propos
image: https://source.unsplash.com/PiPZ2DHa3rE
image-sm: https://source.unsplash.com/PiPZ2DHa3rE
---
<section class="previews">
  <div>
    <figure class="absolute-bg preview__img" style="background-image: url('{{ page.image }}');"></figure>
    <div class="previews__container">
      <span>À propos du</span>
      <h1 style="text-align: center"> CLUB {{ site.club }}</h1>
      <h3 style="text-align: center">{{ site.title }}</h3>
      <p>
        
      </p>
      {% include infos-{{ page.lang }}.html %}
    </div>
    
  </div>

  <div>

    <div class="tab" >
      <div style="margin-left: 4em; margin-right: 3em">
        <h4>Pourquoi ce club?</h4>
        <p style="margin-left: 3%; text-align:justify">
          Nous avons créé le club <b>DOC-AC</b>, le 03 Février 2017, suite à un échec d'organisation d'une sortie de bowling via le mail. Nous avons décidé de mettre en place ce club dans l'objectif principal de créer une vie sociale pour les doctorants en dehors des heures de travail. Les activités proposées dans ce club via ce site sont nourries par vos <a style="text-decoration: underline;" href="{{ site.proposition[page.lang]}}">propositions</a>. N'hésitez pas à nous contacter. Nous sommes à votre écoute. Notre club est indépendant et ouvert à tout le public.
        </p>
        <h4>Comment ça marche?</h4>
        <p style="margin-left: 3%; text-align:justify">
          C'est facile! Vous pouvez rejoindre notre club en vous <a style="text-decoration: underline;" href="{{ site.s-inscrire[page.lang]}}">inscrivant</a> à la liste de diffusion en fournissant votre adresse mail. Vous recevrez par la suite un e-mail de notification à chaque fois nous organisons un nouveau événement. En général, nous mettrons un <a href="https://doodle.com" style="text-decoration: underline;">doodle</a> pour planifier nos événements.
        </p>
        <h4>Périmètre :</h4>
        <ul style="list-style-type: circle; margin-left: 6%">
          <li>INSA de Rouen (Saint-Étienne-du-Rouvray)</li>
          <li>UFR des Sciences et Techniques (Saint-Étienne-du-Rouvray)</li>
          <li>CORIA (Saint-Étienne-du-Rouvray)</li>
          <li>D'autres à venir ...</li>
        </ul>
        <h4 style="display: inline;" >Contact : </h4>  
        <a style="text-decoration: underline" href="mailto:{{ site.email }}"> {{ site.email }}</a>
        <h4>Administrateur :</h4>
        <p style="margin-left: 3%">
          Soufiane Belharbi : <a style="text-decoration: underline" href="https://sbelharbi.github.io">https://sbelharbi.github.io</a>
        </p>
        <!-- <h4 style="display: inline;">Je peux ramener des gens?</h4> Oui. -->
      </div>

      {% include footer-{{ page.lang }}.html %}
    </div>
  </div>

</section>
