---
layout: default
title: Acceuil
key: 0
lang: en
ref: index
permalink: /index-en/
sitemap:
  priority: 1.0
---
<section class="previews">
  <div>
    {% assign sorted_postes=site.posts | where:"lang", page.lang %}
    {% for post in sorted_postes %}
    {% if post.options contains "current"%}
      <figure class="absolute-bg preview__img" style="background-image: url('{{ post.image }}');"></figure>
      {% endif %}
    {% endfor %}
    <div class="previews__container">
      <span>Welcome to</span>
      <h1 style="text-align: center">{{ site.club }} CLUB</h1>
      <h3 style="text-align: center">{{ site.title }}</h3>
      <p>
        
      </p>
      {% include infos-{{ page.lang }}.html %}
    </div>
  </div>

  <div>
    <!-- <header>
      <ul class="tabs">
        <li class="tabs__item">Accueil</li>
        <li class="tabs__item">À propos</li>
      </ul>
    </header> -->

    <div class="tab">
      <ul itemscope itemtype="http://schema.org/Blog" style="margin-top: 0em; margin-left: 2em">
        {% assign sorted_postes = site.posts | where:"lang", page.lang %}
        {% for post in sorted_postes %}
        {% if post.options contains "current"%}
        <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <a class="preview__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url" style="padding-top: 0.05em; padding-bottom: 0.4em;">
            <span class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}" style="margin-top: 0em">
              {% assign m = post.date | date: "%B" %}
              {{ site.date-trans[m][page.lang] }}
              {{ post.date | date: "%d, %Y. %H:%M:%S" }}</span>
            <h2 class="preview__header" itemprop="name">{{ post.title }}</h2>
            
            <!-- <span class="preview__more">{{ site.savoir_plus[page.lang] }}</span> -->
            <!-- <span class="preview__more">{{ site.comment-it[page.lang] }}</span> -->
          </a>
          <p class="preview__container" itemprop="description">{{ post.content }}</p>
        </li>
          {% endif %}
        {% endfor %}
      </ul>

      <!-- {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a>
          {% endif %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
          {% endif %}
        </div>
      {% endif %} -->
{% include footer-{{ page.lang }}.html %}

    </div>

    <!-- {% include categories-tab.html %} -->

  </div>

</section>
